/* Fonts from google font*/
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

/* Variable CSS */
:root{
    --primary-color: #000000;
    --white-color:#ffffff;
    --text-color: #000000;
    --gray-color: #898989;
    --invert-primary-color:#00d7ef;
    --invert-text-color: #ffffff;
    --invert-bg-color: #292d2c;
}

html {
    scroll-behavior: smooth;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: Signika Negative;
    background: var(--white-color);
    transition: .3s;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

img {
    pointer-events: none;
}

/* Header */
.header {
    padding: 20px 0;
    background:rgb(253, 253, 253);
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.829);
    transition: .3s;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.header_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo_name {
    width: 7vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: .3s;
}

.header_logo_name {
    margin-top: -2.6vw;
    margin-left: -2vw;
}

.header_right {
    display: flex;
    align-items: center;
}

.header-menu_list{
    display: flex;
    align-items: flex-end;
}

.header-menu_item {
     padding: 0 10px;
     margin-top: 12px;
     margin-right: 25px;
}

.header-menu_link{
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color);
    display: inline-flex;
    position: relative;
    transition: .3s;
}

.header-menu_link:hover{
    text-decoration: none;
}

.header-menu_link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0%;
    height: 4px;
    background: rgb(5, 9, 253);
    border-radius: 2px;
    transition: .3s;
}



.header-menu_link:hover:after{
    width: 100%;
}

.header-menu_item::after{
    transition: .4s;
}

.header_change-moon {
    display:flex;
    align-items:center;
    margin-left: px;
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
    transition: .3s;
}

.header_bracket-menu {
    margin-left: 10px;
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
    transition: .3s;
    display:flex;
}

.header_threeline {
    display: none;
}

.menu.menu-left {
    margin-left: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu.menu-left a {
    margin-top: 1vw;
}
.menu-items,
.menu {
    display: flex;
    gap: 5.8vw;
    margin-left: 2vw;
    font-size: 1.5vw;
    margin-top: -0.1vw;
}


.menu-text {
    color: #000000;
}


body.open .menu-items {
    display: flex;
}



/* Home */
.intro_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.intro_content {
    max-width: 500px;
    width: 100%;
    padding-right: 20px;
}

.intro_img {
    max-width: 500px;
    width: 100%;
}

.intro_img img{
    display: block;
    width: 100%;
}

.intro_name {
    font-weight: 600;
    font-size: 58px;
    line-height: 1.2;
    color: var(--text-color);
    margin-bottom: 10px;
    transition: .3s;
}

.intro_name span {
    color: rgb(0, 0, 0);
    transition: .3s;
}

.intro_pos {
    display: block;
    font-weight: 500;
    font-size: 24px;
    color:var(--primary-color);
    margin-bottom: 25px;
}

.intro_text {
    font-size: 16px;
    line-height: 1.3;
    color: var(--text-color);
    margin-bottom: 30px;
    transition: .3s;
}

.hq_title {
    margin-top: 5vw;
}


/* Our profile, Portfolio, and Message Title */
.port_container, .hq_title, .title_message  {
    transition: .3s;
}

.port_title_text, .hq_title_text, .message_title_text{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
    transition: .3s;
}

.message_title_text {
    margin-bottom: 2vw;
    margin-right: 30vw;
    font-size: 2.4vw;
}

.carousel-inner {
    margin-bottom: 8vw;
}

.carousel-inner .item{ 
    height:500px; 
    background-size:cover;
    background-position: center center;
    transition: .3s;
 }


 /* Contact Footer */
 .foot_page {
    padding: 20px 0;
    background:rgb(255, 255, 255);
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.829);
    transition: .3s;
}

.foot_cont {
    color: #000000;
    font-size: 14px;
    text-align: center;
    transition: .3s;
}

/* HQ */
.about h2{
    text-align: center;
    margin-top: 3vw;
    font-size: 2vw;
    font-weight: 600;
    margin-left: -12vw;
  }
  
  .hqrt {
    margin-top: 5vw;
    display: flex;
    gap: 6vw;
    margin-left: 6vw;
    margin-bottom: 3vw;
  }
  
  .cards-loc {
    background-color: #f0f0f0;
    box-shadow: 0 1vw 2vw rgba(0,0,0,0.3);
    width: 25vw;
    text-align: center;
    border-radius: 1.6vw;
  }
  
  .image-loc {
    margin-top: 3vw;
  }
  
  .image-loc img {
    border-radius: 1vw;
    margin-bottom: 1vw;
    width: 40%;
  }
  
  .data-loc {
    margin-bottom: 3vw;
  }
  
  .data-loc h2 {
    font-weight: 600;
    font-size: 2.3vw;
  }
  .data-loc h3 {
    font-size: 1.4vw;
    font-weight: 400;
  }

  body.open .header_right {
    display: grid;
  }


/* Message me */
section {
    margin-left: 30.8vw;
}

section#section-sign-in {
    margin-left: 30.8vw;
    margin-top: 11.6vw;
}

.form-div {
    width: 37vw;
    height: 42vw;
    text-align: center;
}

.form-div#form-sign-in {
    background-color: #ffffff;
    width: 37vw;
    height: 26vw;
    text-align: center;
    border-radius: 2vw;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.4);
}

.foto img {
    width: 20%;
    padding-top: 3vw;
    margin-top: -2vw;
}

.register-form {
    text-align: center;
    justify-content: center;
    margin-top: 0vw;
}

.input-div, .input-div-si {
    margin-top: 1vw;
}

.input-div input[type="text"], .input-div input[type="email"] {
    font-size: 1.1vw;
}

.input-div input::placeholder {
    font-size: 1.1vw;
    font-family: "Albert Sans";
    
}

.input-div-si input[type="text"]{
    font-size: 1.1vw;
}

.input-div-si input::placeholder {
    font-size: 1.1vw;
    font-family: "Albert Sans";
    color: #000000;
}

#username,
#email{
    background-color: #ffffff;
    border-radius: 2vw;
    border: none;
    width: 17vw;
    height: 3vw;
    text-align: center;
    border: 0.2vw solid #000000;
    color: #000000;
}

#femaleBtn {
    margin-left: 4vw;
}

/* radiobutton */

.input-div div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
}


.input-div input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 0.1vw;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.1vw;
}

.input-div input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #080808;
    background-color: #000000;
    z-index: 1;
    color: #ffffff;
}

.material-radio span {
    margin-top: 1vw;
    display: block;
    cursor: pointer;
    background-color: #d1d1d1;
    padding: 0.6vw 1.9vw;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #bbbbbb;
    letter-spacing: .05em;
    color: #efefef;
    text-align: center;
    transition: background-color .5s ease;
    font-size: 1.3vw;
}

.material-radio:first-child span {
    border-radius: .375em 0 0 .375em;
}

.material-radio:last-child span {
    border-radius: 0 .375em .375em 0;
}


#error-msg {
    font-size: 1vw;
    margin-top: 20vw;
}


/* Button */
.button-sub, .button-sub-si {
    color: #000000;
    text-decoration: none;
    border: 2px solid #000000;
    padding: 0.6vw 3.3vw;
    font-size: 1.4vw;
    font-weight: 500;
    background: transparent;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
    border-radius: 2vw;
}

.button-sub:hover, .button-sub-si:hover {
    color: #ffffff;
    transition: all 0.4s;
    background-color: #000000;
}

.button-sub::before, .button-sub-si::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: rgb(55, 55, 55);
    z-index: -1;
    transition: all 0.4s;
}

.button-sub:hover::before, .button-sub-si:hover::before {
    width: 160%;
}


.value {
    display: grid;
    margin-top: -15vw;
    margin-bottom: 8vw;
    border: #000000 1px solid;
    width: 30vw;
    margin-left: 3.5vw;
}

.value span {
    text-align: center;
    font-size: 1.3vw;
}


@media (width <=1030px) {
    section {
        margin-left: 29.8vw;
        margin-top: 7.3vw;
    }

    section#section-sign-in  {
        margin-left: 31.6vw;
        margin-top: 16.7vw;
    }

    .form-div {
        width: 42vw;
        height: 49vw;
        text-align: center;
        border-radius: 2vw;
    }
    .text-check {
        font-size: 1vw;
        margin-left: 1vw;
        font-weight: 400;
    }

    .errormsg {
        margin-top: 3vw;
    }

    .button-sub {
        margin-top: 1vw;
    }
}




/* Media */
@media (max-width: 1024px) {
    .home-bg {
        margin: 80px 0;
    }

    .header_logo_name {
        margin-left: 2vw;
    }
    .intro_content {
        margin-left: 4vw;
        margin-top: 2vw;
    }

    .img_desc_layer{
        position:absolute;
        display: flex;
        width: 100%;
        height: 570px;
        background-color: rgba(255, 255, 255, 0.81);
        opacity: 0;
        transition: 0.4s ease-in;
    }
    
    .header-menu_link {
        font-size: 16px;
    }
    .header_logo_name {
        font-size: 16px;
    }
    .intro_name {
        font-size: 42px;
    }

    .intro_pos {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .intro_text {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .message_title_text {
        margin-right: 26vw;
        font-size: 2.4vw;
    }

    .carousel-inner .item{ 
        height:400px; 
        background-size:cover;
        background-position: center center;
        transition: .3s;
     }

}

@media (width <=827px) {
    .header {
        padding: 2vw 0;
    }

    .menu-items {
        margin-top: 5vw;
    }
    
    .header-menu {
        position: fixed;
        top: 77px;
        left: 100%;
        width: 100%;
        height: calc(100vh - 69px);
        background: rgba(255, 255, 255, .9);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
    }

    .is-active.header-menu {
        left: 0;
    }
    .header-menu_list {
        flex-direction: column;
        align-items: center;
    }
    .header_bracket-menu {
        display: block;
        margin-right: 45vw;
    }
    .header_threeline {
        display: block;
        margin-top: 9px;
    }
    
    .header-menu_item:not(:last-child){
        margin-bottom: 20px;
    }
    .header-menu_link {
        font-size: 24px;
    }

    .header_logo_name {
        margin-left: 0.8vw;
        margin-top: 0.4vw;
    }
    .header_logo_name img {
        width: 100%;
    }
    
.navbar-item-l-2 {
    display: none;
}

nav img {
    width: 9vw;
    height: 8vw;
}

.burger {
    margin-right: 5vw;
    width: 5vw;
    height: 4vw;
}

.menu-items {
    display: none;
    width: 100vw;
    flex-direction: column;
    gap: 1.6vw;
    position: absolute;
    top: 7vw;
    left: -5vw;
    padding: 0 2vw 2vw;
    background: #ffffff;
    z-index: 1;
}

.navbar-item-l-2-pic {
    transition: .2s ease;
    margin-top: 1.8vw;
    padding-right: 2.5vw;
}

.menu.menu-left a{
    margin-top: -2vw;
    margin-left: -43vw;
    padding-top: -5vw;
}

.menu-left {
    margin-top: 2vw;
    flex-direction: column;
    gap: 3vw;
}

.menu-left a {
    padding-bottom: 1vw;
    text-align: center;
    font-size: 2.4vw;
}

.datas {
    display: flex;
    margin-left: 26.5vw;
}

.navbar-item-l-2 button {
    padding: 1.5vw 3.3vw;
    font-size: 1.6vw;
}

.datas .navbar-item-l-2 {
    margin-left: -3vw;
    padding-left: 8vw;
}
.burger,
.datas .navbar-item-l-2 {
    display: block;
}

.navbar-item-l {
    display: none;
}

.intro_photo img {
    width: 100%;
}
.intro_content {
    margin-left: -2vw;
    margin-top: 2vw;
}

.home-bg {
    margin: 77px 0;
}
.img_desc_layer{
    position:absolute;
    display: flex;
    width: 100%;
    height: 410px;
    background-color: rgba(255, 255, 255, 0.81);
    opacity: 0;
    transition: 0.4s ease-in;
}

.intro_body{
    flex-direction: column-reverse;
}
.intro_img {
    margin-bottom: 30px;
}
.intro_content {
    padding: 0;
}
.intro_name {
    font-size: 32px;
    text-align: center;
}
.intro_pos {
    text-align: center;
}
.intro_text {
    text-align: center;
}
.intro_but {
    display: flex;
    justify-content: center;
}

}

@media (max-width:415px) {
    .header-menu_link {
        font-size: 18px;
    }
    .img_desc_layer{
        position:absolute;
        display: flex;
        width: 100%;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.81);
        opacity: 0;
        transition: 0.4s ease-in;
    }
    .message_title_text {
        margin-top: -40vw;
        font-size: 2.4vw;
        margin-right: 32vw;
    }
    
    .form-sec {
        margin-left: 29vw;
    }
    
}


